<div class="m-listado">
  <div class="m-title">
    <h2>LISTADO DE PROSPECTOS</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" sortable="proyecto" (sort)="onSort($event)">Proyecto</th>
          <th scope="col" sortable="nombre" (sort)="onSort($event)">NOM.</th>
          <th scope="col" sortable="apellido" (sort)="onSort($event)">APELLIDO</th>
          <th scope="col" sortable="tipo_documento" (sort)="onSort($event)">TIP.DOC.</th>
          <th scope="col" sortable="nro_documento" (sort)="onSort($event)">NUM.DOC.</th>
          <th scope="col" sortable="distrito" (sort)="onSort($event)">DISTRITO</th>
          <th scope="col" sortable="descaga" (sort)="onSort($event)">DESCARGA</th>
          <th scope="col" sortable="carga" (sort)="onSort($event)">CARGA</th>
          <th scope="col" sortable="auricular" (sort)="onSort($event)">AURICULAR</th>
          <th scope="col" sortable="fecha_registro" (sort)="onSort($event)">F.REGISTRO</th>
          <th scope="col" sortable="cantidad_post" (sort)="onSort($event)">CANT. POST</th>
          <th scope="col">VER DETALLE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prospecto of prospectos">
          <!-- <th scope="row">{{ country.id }}</th> -->
          <td>{{prospecto.proyecto}}</td>
          <td>{{prospecto.nombre}}</td>
          <td>{{prospecto.apellido}}</td>
          <td>{{prospecto.tipo_documento}}</td>
          <td>{{prospecto.nro_documento}}</td>
          <td>{{prospecto.distrito}}</td>
          <td>{{prospecto.descaga}}</td>
          <td>{{prospecto.carga}}</td>
          <td>{{prospecto.auricular}}</td>
          <td>{{prospecto.fecha_registro}}</td>
          <td class="text-center">{{prospecto.cantidad_post}}</td>
          <td class="text-center"><button type="button" class="m-button--icon"><img src="../../../../../assets/images/iconos/icon-detalle.svg" /></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="m-container">
    <div class="m-actions text-right">
      <button type="button" class="m-button"><span>EXPORTAR</span></button>
    </div>
  </div>
</div>