<div class="modal-header">
  <h4 class="modal-title">CONFIRMACI&Oacute;N</h4>
</div>
<div class="modal-body">
  <p>Para poder iniciar con el registro de tus datos, es necesario que te encuentres con la PC y el lugar donde vas a laborar.</p>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="checkConfirm">
    <label class="form-check-label" for="checkConfirm">Confirmo que mi PC y el lugar donde me encuentro, es donde desarrollar&eacute; mis labores.</label>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="checkAutorize">
    <label class="form-check-label" for="checkAutorize">Autorizo el tratamiento de mi informaci&oacute;n para su uso en el proceso de selecci&oacute;n de RocketHall.</label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="m-button" (click)="activeModal.close('Close click')"><span>CONTINUAR</span></button>
</div>