@import url('../src/assets/fonts/fonts.css');

:root {
    --COLOR_PASTEL: #EFFDFF;
    --COLOR_DEFAULT: #00B5E2;
    --COLOR_PRIMARY: #00E19F;
    --COLOR_TITLE: #051C2C;
    --COLOR_TEXT: #707070;
    --FUTURA_LIGHT: 'Futura-Light';
    --FUTURA_MEDIUM: 'Futura-Medium';
    --FUTURA_BOLD: 'Futura-Bold';
    --FUTURA_EXTRABLACK: 'Futura-ExtraBlack';
    --RUBIK_LIGHT: 'Rubik-Light';
    --RUBIK_REGULAR: 'Rubik-Regular';
    --RUBIK_MEDIUM: 'Rubik-Medium';
    --RUBIK_BOLD: 'Rubik-Bold';
    --RUBIK_EXTRABOLD: 'Rubik-ExtraBold';
}
*{
    box-sizing: border-box;
} 
body{
    margin: 0;
    padding: 0;
    font-family: var(--RUBIK_REGULAR);
    color: var(--COLOR_TITLE);
    font-size:  16px;
    overflow-x: hidden;
}
.m-0{
    margin: 0 !important;
}
.p-20{
    padding: 20px !important;
}
.m-b-50{
    margin-bottom: 50px !important;
}
img{
    width: 100%;
}
.m-grid--3{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 25px;
}
.m-grid--2{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    grid-column-gap: 40px;
    grid-row-gap: 25px;
}
.bg-blue{
    background-color: var(--COLOR_PASTEL);
}
.m-title{
    margin: 20px 0;
}
.m-title h2{
    font-size: 26px;
    line-height: 32px;
    font-family: var(--FUTURA_BOLD);
}
.m-input{
    margin: 10px 0;
}
.m-input input{
    width: 100%;
    outline: none;
    border: 1px solid var(--COLOR_TEXT);
    height: 52px;
    padding: 0 12px;
    background-color: #F6F6F6;
    font-family: var(--RUBIK_REGULAR);
    font-size: 16px;
}
.m-select{
    margin: 10px 0;
}
.m-select select{
    border: 1px solid var(--COLOR_TEXT);
    outline: none !important;
    width: 100%;
    background-color: #F6F6F6;
    height: 52px;
    padding: 0 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-family: var(--RUBIK_REGULAR);
    font-size: 16px;
    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */
    color: var(--COLOR_TEXT)
}
.m-button{
    background-color: #F6F6F6;
    outline: none !important;
    box-shadow: none;
    border: none;
    height: 60px;
    padding: 0 20px;
    cursor: pointer;
}
.m-invalid{
    color: red;
    font-size: 14px;
}
.m-button[disabled]{
    cursor: default;
}
.m-button span{
    font-family: var(--FUTURA_BOLD);
    font-size: 20px;
    display: block;
    border-bottom: 2px solid var(--COLOR_DEFAULT);
    padding: 0 20px 0 8px;
}
.m-section{
    padding: 40px 20px;
    position: relative;
}
.m-container{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
.m-container.min-width{
    max-width: 800px;
}
.m-login{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
}
.m-card__login{
    padding: 40px;
    box-shadow: 0px 3px 15px #00000029;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
}
.m-card__login .m-card__title span{
    display: block;
    color: #FFFFFF;
    background-color: var(--COLOR_PRIMARY);
    font-family: var(--FUTURA_BOLD);
    width: 100%;
    font-size: 25px;
    max-width: 148px;
    margin: auto;
    margin-bottom: 20px;
}
.m-card__login .m-card__title h2{
    font-family: var(--FUTURA_BOLD);
    font-size: 50px;
    line-height: 48px;
    margin: 0;
}
.m-card__login .m-card__content{
    width: 100%;
    max-width: 375px;
    margin: auto;
    margin-top: 30px;
}
.m-card__login .m-card__content .m-input{
    margin: 20px 0;
}
.m-card__login .m-card__content .m-input input{
    box-shadow: 2px 2px 15px #00B5E226;
    border: 1px solid #051C2C;
    border-radius: 9px;
}
.m-card__login .m-card__actions{
    max-width: 375px;
    margin: auto;
    text-align: right;
}
.m-footer__login{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    height:  40px;
    text-align: center;
    border-top: 1px solid #AEB4BA;
    margin-top: 30px;
}
.m-footer__login p{
    font-size: 16px;
    font-family: var(--RUBIK_LIGHT);
    color: var(--COLOR_TEXT);
}
.m-filtro{
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.m-listado .m-title{
    max-width: 900px;
    margin: auto;
}
.m-steps{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 6px 6px 20px #00000029;
    border-radius: 9px;
    width: 100%;
}
.m-steps a{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-family: var(--RUBIK_BOLD);
    border-right: 1px dotted var(--COLOR_TEXT);
    height: 50px;
    position: relative;
}
.m-steps a.active{
    background-color: #C2F7ED;
}
.m-steps a:last-child{
    border: none;
}
.m-steps a.active::after{
    content: '';
    display: block;
    background-color: var(--COLOR_PRIMARY);
    height: 5px;
    width: 100%;
    max-width: 50px;
    position: absolute;
    bottom: 5px;
    border-radius: 20px;
}
.modal-content{
    background-color: #EFFDFF;
    border-radius: 30px;
}
.modal-title{
    font-size: 50px;
    font-family: var(--FUTURA_BOLD);
    text-align: center;
    border-bottom: 4px solid #000000;
    margin: auto;
}
.modal-footer,
.modal-header{
    border: none;
}
.modal-header .close{
    position: absolute;
    right: 25px;
    top: 25px;
    color: #00B5E2;
    width: 48px;
    height: 48px;
    border: 2px solid #00B5E2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1 !important;
    outline: none;
}
.modal-body{
    text-align: center;
    padding: 20px 50px;
}
.modal-body p{
    font-size: 14px;
    color: #000000;
    font-family: var(--RUBIK_MEDIUM);
}
.modal-body .form-check{
    width: 100%;
    margin: auto;
    text-align: left;
}
.modal-body .form-check input{
    outline: none;
}
.modal-body .form-check .form-check-label{
    color: #707070;
    font-family: var(--RUBIK_MEDIUM);
    font-size: 14px;
}
.modal-footer{
    justify-content: center;
}
   /* Datepicker popup icon */

   button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }