<section class="m-section">
    <div class="m-container bg-blue">
        <div class="m-login">
            <div class="m-card__login">
                <div class="m-card__title">
                    <span>INTRANET</span>
                    <h2>REGISTRO DE PROSPECTOS</h2>
                </div>
                <div class="m-card__content">
                    <div class="m-input">
                        <input type="text" />
                    </div>
                    <div class="m-input">
                        <input type="text" />
                    </div>
                </div>
                <div class="m-card__actions">
                    <button class="m-buttton m-button--default">INGRESAR</button>
                </div>
            </div>
        </div>
    </div>
</section>
