<section class="m-section p-20">
  <div class="m-container min-width">
      <div class="m-title">
          <h2>INFORMACI&Oacute;N DE LA PC</h2>
      </div>
      <div class="m-content">
          <div class="m-grid--2">
              <div class="m-select m-0">
                  <select>
                      <option>Procesador</option>
                      <option>Procesador1</option>
                      <option>Procesador2</option>
                      <option>Procesador3</option>
                  </select>
              </div>
              <div class="m-select m-0">
                  <select>
                      <option>Memoria RAM</option>
                      <option>Memoria1</option>
                      <option>Memoria2</option>
                      <option>Memoria3</option>
                  </select>
              </div>
              <div class="m-select m-0">
                  <select>
                      <option>Disco duro</option>
                      <option>Disco1</option>
                      <option>Disco2</option>
                      <option>Disco3</option>
                  </select>
              </div>
              <div class="m-select m-0">
                  <select>
                      <option>Sistema operativo</option>
                      <option>Sistema1</option>
                      <option>Sistema2</option>
                      <option>Sistema3</option>
                  </select>
              </div>
          </div>
      </div>
  </div>
</section>
