<div class="m-filtro">
    <div class="m-title">
        <h2>FILTRO DE B&Uacute;SQUEDA</h2>
    </div>
    <div class="m-content">
        <div class="m-grid--3">
            <div class="m-select m-0">
                <select>
                    <option>Tipo de documento</option>
                    <option>DNI</option>
                    <option>RUC</option>
                    <option>CEX</option>
                </select>
            </div>
            <div class="m-input m-0">
                <input type="text" placeholder="N&uacute;mero de documento" />
            </div>
            <div class="m-select m-0">
                <select>
                    <option>Distrito</option>
                    <option>Distrito1</option>
                    <option>Distrito2</option>
                    <option>Distrito3</option>
                </select>
            </div>
            <div class="m-select m-0">
                <select>
                    <option>Velocidad de descarga</option>
                    <option>Velocidad1</option>
                    <option>Velocidad2</option>
                    <option>Velocidad3</option>
                </select>
            </div>
            <div class="m-select m-0">
                <select>
                    <option>Velocidad de carga</option>
                    <option>Velocidad1</option>
                    <option>Velocidad2</option>
                    <option>Velocidad3</option>
                </select>
            </div>
            <div class="m-select m-0">
                <select>
                    <option>Tipo de auriculares</option>
                    <option>Auriculares1</option>
                    <option>Auriculares2</option>
                    <option>Auriculares3</option>
                </select>
            </div>
            <div class="m-select m-0">
                <select>
                    <option>Proyecto</option>
                    <option>Proyecto1</option>
                    <option>Proyecto2</option>
                    <option>Proyecto3</option>
                </select>
            </div>
            <div>
                <div class="m-input m-0">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd/mm/yyyy" name="dateInit" ngbDatepicker
                            #dateInit="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dateInit.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="m-input m-0">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd/mm/yyyy" name="dateEnd" ngbDatepicker
                            #dateEnd="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dateEnd.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" name="dp" formControlName="fecNacimiento"
                    ngbDatepicker #d="ngbDatepicker" [minDate]="minDate" [maxDate]="maxDate">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                        type="button"></button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="m-actions text-right">
        <button type="button" class="m-button"><span>BUSCAR</span></button>
    </div>
</div>