<div class="m-filtro">
    <div class="m-title">
        <h2>FILTRO DE B&Uacute;SQUEDA</h2>
    </div>
    <div class="m-content">
        <div class="m-grid--3">
            <div class="m-textfield__input">
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de documento</mat-label>
                    <mat-select>
                        <mat-option>DNI</mat-option>
                        <mat-option>RUC</mat-option>
                        <mat-option>CEX</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="m-textfield__input">
                <mat-form-field appearance="outline">
                    <mat-label>N&uacute;mero de documento</mat-label>
                    <input type="text" onLetter matInput placeholder="">
                </mat-form-field>
            </div>
            <div class="m-textfield__input">
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de documento</mat-label>
                    <mat-select>
                        <mat-option>Distrito</mat-option>
                        <mat-option>Distrito1</mat-option>
                        <mat-option>Distrito2</mat-option>
                        <mat-option>Distrito3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="m-textfield__input">
                <mat-form-field appearance="outline">
                    <mat-label>Velocidad de descarga</mat-label>
                    <mat-select>
                        <mat-option>Velocidad de descarga</mat-option>
                        <mat-option>Velocidad1</mat-option>
                        <mat-option>Velocidad2</mat-option>
                        <mat-option>Velocidad3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="m-textfield__input">
                <mat-form-field appearance="outline">
                    <mat-label>Velocidad de carga</mat-label>
                    <mat-select>
                        <mat-option>Velocidad de carga</mat-option>
                        <mat-option>Velocidad1</mat-option>
                        <mat-option>Velocidad2</mat-option>
                        <mat-option>Velocidad3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="m-textfield__input">
                <mat-form-field appearance="outline">
                    <mat-label>Tipo de auriculares</mat-label>
                    <mat-select>
                        <mat-option>Tipo de auriculares</mat-option>
                        <mat-option>Velocidad1</mat-option>
                        <mat-option>Velocidad2</mat-option>
                        <mat-option>Velocidad3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="m-textfield__input">
                <mat-form-field appearance="outline">
                    <mat-label>Proyecto</mat-label>
                    <mat-select>
                        <mat-option>Proyecto</mat-option>
                        <mat-option>Proyecto1</mat-option>
                        <mat-option>Proyecto2</mat-option>
                        <mat-option>Proyecto3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="m-textfield__input">
                <div class="m-input m-0">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd/mm/yyyy" name="dateInit" ngbDatepicker
                            #dateInit="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dateInit.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-textfield__input">
                <div class="m-input m-0">
                    <div class="input-group">
                        <input class="form-control" placeholder="dd/mm/yyyy" name="dateEnd" ngbDatepicker
                            #dateEnd="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="dateEnd.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" name="dp" formControlName="fecNacimiento"
                    ngbDatepicker #d="ngbDatepicker" [minDate]="minDate" [maxDate]="maxDate">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                        type="button"></button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="m-actions text-right">
        <button type="button" class="m-button"><span>BUSCAR</span><img
                src="../../../../../assets/images/iconos/icon-arrow-button.svg" alt="icono-button-prospectos"></button>
    </div>
</div>