<app-informacion-conectividad></app-informacion-conectividad>
<div class="m-container">
    <div class="m-actions text-right m-b-50">
        <button type="button" class="m-button" [disabled]="!registroFormService.formValidStep2"
            (click)=" registroFormService.formValidStep2&& redirectNextStep(3)"><span>PASO 3</span><img src="../../../../../assets/images/iconos/icon-arrow-button.svg" alt="icono-button-prospectos"></button>
    </div>
</div>
<div class="m-footer__login">
    <p>&copy;2020 Agencia B12. Todos los derechos reservados.</p>
</div>