<section class="m-section">
    <div class="m-container bg-blue">
        <div class="m-card__login">
            <div class="m-card__title">
                <span>INTRANET</span>
                <h2>REGISTRO DE PROSPECTOS</h2>
            </div>
        </div>
        <!-- <div class="m-filtro">
            <div class="m-title">
                <h2>FILTRO DE B&Uacute;SQUEDA</h2>
            </div>
            <div class="m-content">
                <div class="m-grid--3">
                    <div class="m-select m-0">
                        <select>
                            <option>Tipo de documento</option>
                            <option>DNI</option>
                            <option>RUC</option>
                            <option>CEX</option>
                        </select>
                    </div>
                    <div class="m-input m-0">
                        <input type="text" placeholder="N&uacute;mero de documento"/>
                    </div>
                    <div class="m-select m-0">
                        <select>
                            <option>Distrito</option>
                            <option>Distrito1</option>
                            <option>Distrito2</option>
                            <option>Distrito3</option>
                        </select>
                    </div>
                    <div class="m-select m-0">
                        <select>
                            <option>Velocidad de descarga</option>
                            <option>Velocidad1</option>
                            <option>Velocidad2</option>
                            <option>Velocidad3</option>
                        </select>
                    </div>
                    <div class="m-select m-0">
                        <select>
                            <option>Velocidad de carga</option>
                            <option>Velocidad1</option>
                            <option>Velocidad2</option>
                            <option>Velocidad3</option>
                        </select>
                    </div>
                    <div class="m-select m-0">
                        <select>
                            <option>Tipo de auriculares</option>
                            <option>Auriculares1</option>
                            <option>Auriculares2</option>
                            <option>Auriculares3</option>
                        </select>
                    </div>
                    <div class="m-select m-0">
                        <select>
                            <option>Proyecto</option>
                            <option>Proyecto1</option>
                            <option>Proyecto2</option>
                            <option>Proyecto3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="m-actions text-right">
                <button type="button" class="m-button"><span>BUSCAR</span></button>
            </div>
        </div> -->
        <!-- <div class="m-listado">
            <div class="m-title">
                <h2>LISTADO DE PROSPECTOS</h2>
            </div>
        </div> -->
    </div>
</section>

<app-filtro-prospecto></app-filtro-prospecto>
<app-lista-prospecto></app-lista-prospecto>
