<section class="m-section">
  <div class="m-container max-width bg-blue">
      <div class="m-detalle__logout">
        <button type="button" class="m-button m-button--transparent"><span>SALIR</span><img src="assets/images/iconos/icon-close.svg" /></button>
      </div>
      <div class="m-detalle">
        <div class="m-card__login detalle">
          <div class="m-card__title">
              <span>INTRANET</span>
              <h2>REGISTRO DE PROSPECTOS</h2>
          </div>
        </div>
        <div class="m-detalle__title">
          <div class="m-text__title">
            <h2>Proyecto:</h2>
            <h2>Prospectos B12</h2>
          </div>
          <div class="m-text__title">
            <h2>Fecha de registro:</h2>
            <p>14-09-2020</p>
          </div>
        </div>
      </div>
  </div>
  <div class="m-footer__login">
      <p>&copy;2020 Agencia B12. Todos los derechos reservados.</p>
  </div>
</section>