<section class="m-section p-20">
  <div class="m-container min-width" [formGroup]="infoAudioForm">
    <div class="m-title">
      <h2>DISPOSITIVOS</h2>
    </div>
    <div class="m-dispositivos">
      <div class="m-select m-0">
        <mat-form-field appearance="outline">
          <mat-label>Tipo de auricular</mat-label>
          <mat-select required formControlName="tipoDispositivo">
            <mat-option>Tipo de auricular</mat-option>
            <mat-option *ngFor="let auricular of auriculares" [value]="auricular.idAuricular">
              {{auricular.tipoAuricular}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="m-dispositivos__image">
        <img [src]="urlImg" />
      </div>
      <div>
        <div (click)="adjuntarImagen()">
          <mat-form-field appearance="outline">
            <mat-label>Adjuntar imagen</mat-label>
            <input matInput type="text" placeholder="" #inputText disabled />
          </mat-form-field>
        </div>
        <button type="button" (click)="adjuntarImagen()">subir imagen</button>
      </div>
    </div>
  </div>
</section>
<input type="file" #fileTxt style="display:none" (change)="fileChangeEvent($event)" />