<section class="m-section p-20">
    <div class="m-container min-width">
        <div class="m-title">
            <h2>INFORMACI&Oacute;N PERSONAL</h2>
        </div>
        <div class="m-content">
            <div class="m-grid--2">
                <div class="m-input m-0">
                    <input type="input" placeholder="Nombres" />
                </div>
                <div class="m-input m-0">
                    <input type="input" placeholder="Apellidos" />
                </div>
                <div class="m-select m-0">
                    <select>
                        <option>Tipo de documento</option>
                        <option>DNI</option>
                        <option>RUC</option>
                        <option>CEX</option>
                    </select>
                </div>
                <div class="m-input m-0">
                   <input type="input" placeholder="N&uacute;mero de documento" />
                </div>
                <div class="m-input m-0">
                    <input type="input" placeholder="Fecha de nacimiento" />
                </div>
            </div>
        </div>
    </div>
</section>