<section class="m-section p-20">
    <div class="m-container min-width">
        <div class="m-title">
            <h2>INFORMACI&Oacute;N PERSONAL</h2>
        </div>
        <div class="m-content">
            <div class="m-grid--2" [formGroup]="infoPersForm">
                <div class="m-input m-0">
                    <input type="input" placeholder="Nombres" formControlName="nombresPostulante" (keyup)="prueba()" autocomplete="none" required/>
                    <span *ngIf="nombresPostulante.errors">
                        <ng-container *ngIf="nombresPostulante.errors.required; else elseif1">nombresPostulante is required</ng-container>
                        <ng-template #elseif1>
                            <ng-container *ngIf="nombresPostulante.errors.exception;"> nombresPostulante is exception</ng-container>
                        </ng-template>
                    </span>
                </div>
                <div class="m-input m-0">
                    <input type="input" placeholder="Apellidos" formControlName="apellidosPostulante" (keyup)="prueba()"  autocomplete="none" required/>
                    <span *ngIf="apellidosPostulante.errors">
                        <ng-container *ngIf="apellidosPostulante.errors.required; else elseif1">apellidosPostulante is required</ng-container>
                        <ng-template #elseif1>
                            <ng-container *ngIf="apellidosPostulante.errors.exception;"> apellidosPostulante is exception</ng-container>
                        </ng-template>
                    </span>
                </div>
                <div class="m-select m-0">
                    <select formControlName="tipoDocumento" required>
                        <option>Tipo de documento</option>
                        <option>DNI</option>
                        <option>RUC</option>
                        <option>CEX</option>
                    </select>
                    <span *ngIf="tipoDocumento.errors">
                        <ng-container *ngIf="tipoDocumento.errors.required; else elseif1">tipoDocumento is required</ng-container>
                        <ng-template #elseif1>
                            <ng-container *ngIf="tipoDocumento.errors.exception;"> tipoDocumento is exception</ng-container>
                        </ng-template>
                    </span>
                </div>
                <div class="m-input m-0">
                    <input type="input" placeholder="N&uacute;mero de documento" formControlName="numeroDocumento" autocomplete="none" required/>
                    <span *ngIf="numeroDocumento.errors">
                        <ng-container *ngIf="numeroDocumento.errors.required; else elseif1">numeroDocumento is required</ng-container>
                        <ng-template #elseif1>
                            <ng-container *ngIf="numeroDocumento.errors.exception;"> numeroDocumento is exception</ng-container>
                        </ng-template>
                    </span>
                </div>
                <div class="m-input m-0">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp"formControlName="fecNacimiento" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                        </div>
                      </div>
                    <!-- <input type="input" placeholder="Fecha de nacimiento" formControlName="fecNacimiento" autocomplete="none"  required/>
                    <span *ngIf="fecNacimiento.errors">
                        <ng-container *ngIf="fecNacimiento.errors.required; else elseif1">fecNacimiento is required</ng-container>
                        <ng-template #elseif1>
                            <ng-container *ngIf="fecNacimiento.errors.exception;"> fecNacimiento is exception</ng-container>
                        </ng-template>
                    </span> -->
                </div>
            </div>
        </div>
    </div>
</section>