<section class="m-section p-20">
    <div class="m-container min-width">
        <div class="m-title">
            <h2>INFORMACI&Oacute;N PERSONAL</h2>
        </div>
        <div class="m-content">
            <div class="m-grid--2" [formGroup]="infoPersForm">
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Nombres</mat-label>
                        <input type="text" matInput placeholder="" formControlName="nombresPostulante"
                            autocomplete="none" required>
                        <mat-error *ngIf="nombresPostulante.errors && nombresPostulante.dirty">
                            <ng-container *ngIf="nombresPostulante.errors.required; else elseif1">El campo no puede
                                estar vacio</ng-container>
                            <ng-template #elseif1>
                                <ng-container *ngIf="nombresPostulante.errors.minlength; else elseif2">M&iacute;nimo
                                    {{nombresPostulante.errors.minlength.requiredLength}} caracteres</ng-container>
                            </ng-template>
                            <ng-template #elseif2>
                                <ng-container *ngIf="nombresPostulante.errors.maxlength; else elseif3">M&aacute;ximo
                                    {{nombresPostulante.errors.maxlength.requiredLength}} caracteres</ng-container>
                            </ng-template>
                            <ng-template #elseif3>
                                <ng-container *ngIf="nombresPostulante.errors.pattern; else elseif4">Caracteres
                                    inv&aacute;lidos</ng-container>
                            </ng-template>
                            <ng-template #elseif4>
                                <ng-container *ngIf="nombresPostulante.errors.exception; else elseif4">
                                    {{nombresPostulante.errors.exception.msj}}</ng-container>
                            </ng-template>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>Apellidos</mat-label>
                        <input type="text" matInput placeholder="" formControlName="apellidosPostulante"
                            autocomplete="none" required>
                        <mat-error *ngIf="apellidosPostulante.errors && apellidosPostulante.dirty">
                            <ng-container *ngIf="apellidosPostulante.errors.required; else elseif1">El campo no puede
                                estar
                                vacio</ng-container>
                            <ng-template #elseif1>
                                <ng-container *ngIf="apellidosPostulante.errors.minlength; else elseif2">M&iacute;nimo
                                    {{apellidosPostulante.errors.minlength.requiredLength}} caracteres</ng-container>
                            </ng-template>
                            <ng-template #elseif2>
                                <ng-container *ngIf="apellidosPostulante.errors.maxlength; else elseif3">M&aacute;ximo
                                    {{apellidosPostulante.errors.maxlength.requiredLength}} caracteres</ng-container>
                            </ng-template>
                            <ng-template #elseif3>
                                <ng-container *ngIf="apellidosPostulante.errors.pattern; else elseif4">Caracteres
                                    inv&aacute;lidos</ng-container>
                            </ng-template>
                            <ng-template #elseif4>
                                <ng-container *ngIf="apellidosPostulante.errors.exception; else elseif4">
                                    {{apellidosPostulante.errors.exception.msj}}</ng-container>
                            </ng-template>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Tipo de documento</mat-label>
                        <mat-select formControlName="tipoDocumento" required>
                            <mat-option>Tipo de documento</mat-option>
                            <mat-option *ngFor="let tipoDoc of tiposDocumentos" [value]="tipoDoc.value">{{tipoDoc.desc}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="tipoDocumento.errors && tipoDocumento.dirty">
                            <ng-container *ngIf="tipoDocumento.errors.required; else elseif1">Seleccione el tipo doc.
                            </ng-container>
                            <ng-template #elseif1>
                                <ng-container *ngIf="tipoDocumento.errors.exception;">
                                    {{tipoDocumento.errors.exception.msj}}
                                </ng-container>
                            </ng-template>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field  appearance="outline">
                        <mat-label>"N&uacute;mero de documento</mat-label>
                        <input type="text" matInput placeholder="" formControlName="numeroDocumento" autocomplete="none"
                            maxlength="18" required>
                        <mat-error *ngIf="numeroDocumento.errors && numeroDocumento.dirty">
                            <ng-container *ngIf="numeroDocumento.errors.required; else elseif1">El campo no puede estar
                                vacio</ng-container>
                            <ng-template #elseif1>
                                <ng-container *ngIf="numeroDocumento.errors.minlength; else elseif2">M&iacute;nimo
                                    {{numeroDocumento.errors.minlength.requiredLength}} dígitos</ng-container>
                            </ng-template>
                            <ng-template #elseif2>
                                <ng-container *ngIf="numeroDocumento.errors.maxlength; else elseif3">M&aacute;ximo
                                    {{numeroDocumento.errors.maxlength.requiredLength}} dígitos</ng-container>
                            </ng-template>
                            <ng-template #elseif3>
                                <ng-container *ngIf="numeroDocumento.errors.pattern; else elseif4">nro. documento
                                    invalido
                                </ng-container>
                            </ng-template>
                            <ng-template #elseif4>
                                <ng-container *ngIf="numeroDocumento.errors.exception;">
                                    {{numeroDocumento.errors.exception.msj}}</ng-container>
                            </ng-template>
                        </mat-error>
                    </mat-form-field>
                </div>

                
                <div class="m-input m-0">
                    <div>
                        <span>Sexo:</span>
                    </div>
                    <div>
                        <mat-radio-group formControlName="sexo">
                            <mat-radio-button  *ngFor="let s of sexos"[value]="s.value">{{s.desc}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>