<app-informacion-personal></app-informacion-personal>
<app-informacion-contacto></app-informacion-contacto>
<app-informacion-mapa></app-informacion-mapa>
<div class="m-container m-t-16">
    <div class="m-actions text-right m-b-50">
        <button type="button" class="m-button" [disabled]="!registroFormService.formValidStep1"
            (click)=" registroFormService.formValidStep1 && redirectNextStep(2)"><span>PASO 2</span><img src="../../../../../assets/images/iconos/icon-arrow-button.svg" alt="icono-button-prospectos"></button>
    </div>
</div>
<div class="m-footer__login">
    <p>&copy;2020 Agencia B12. Todos los derechos reservados.</p>
</div>