<section class="m-section p-20">
    <div class="m-container min-width">
        <div class="m-title">
            <h2>PROBAR CONECTIVIDAD</h2>
        </div>
        <div id="sc-container">
            <div id="sc-branding" class="sc-bb">
                <a target="_blank" href="https://www.speedcheck.org/">
                    <img src="https://cdn.speedcheck.org/branding/speedcheck-logo-18.png" alt="Speedcheck"/>
                </a>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</section>