<section class="m-section p-20">
    <div class="m-container min-width">
        <div class="m-title">
            <h2>PROBAR CONECTIVIDAD</h2>
        </div>
        <div class="m-actions text-center">
            <button type="button" class="m-button"><span>REALIZAR TEST</span><img src="../../../../../assets/images/iconos/icon-arrow-button.svg" alt="icono-button-prospectos"></button>
        </div>
        <iframe width="100%" height="650px" frameborder="0" src="https://fast.com/"></iframe>
    </div>
</section>