<section class="m-section p-20">
    <div class="m-container min-width">
        <div class="m-title">
            <h2>PROBAR CONECTIVIDAD</h2>
        </div>
        <div class="m-actions text-center" *ngIf="!activeTest">
            <button type="button" class="m-button" (click)="initTest()">
                <span>INICIALIZAR PRUEBA</span>
                <img [src]="btnImg" alt="icono-button-prospectos">
            </button>
        </div>
        <div *ngIf="activeTest">
            <div *ngIf="loading">
                <img src="assets/images/iconos/test.gif" />
            </div>
            <div *ngIf="!loading" class="m-test__container">
                <div class="m-test__title">
                    <h2>Datos del test de velocidad</h2>
                </div>
                <div class="m-test__content">
                    <div class="m-grid--2">
                        <div class="m-test__item">
                            <h2>Velocidad de descarga</h2>
                            <h3>{{ descarga.value }} Mbps</h3>
                        </div>
                        <div class="m-test__item">
                            <h2>Velocidad de carga</h2>
                            <h3>{{ carga.value }} Mbps</h3>
                        </div>
                        <div class="m-test__item">
                            <h2>IP</h2>
                            <h3>{{ ip.value }}</h3>
                        </div>
                        <div class="m-test__item">
                            <h2>ISP</h2>
                            <h3>{{ isp.value }}</h3>
                        </div>
                        <div class="m-test__item">
                            <h2>Operador</h2>
                            <h3>{{ operador.value }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>