<div class="m-home">
    <div class="m-home__image">
        <img src="../../../../../assets/images/fondo/fondo-home2.png" />
    </div>
    <div class="m-home__content">
        <div class="m-content__text">
            <h2>REGISTRO DE PROSPECTOS</h2>
            <h3>EST&Aacute;S POSTULANDO AL PROYECTO:</h3>
            <h4>Atenci&oacute;n al cliente - <strong>Campa&ntilde;a primavera</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
            <button type="button" class="m-button"><span>VER M&Aacute;S</span></button>
        </div>
    </div>
</div>
<app-informacion-personal></app-informacion-personal>
<app-informacion-contacto></app-informacion-contacto>
<app-informacion-mapa></app-informacion-mapa>
<app-informacion-conectividad></app-informacion-conectividad>
<app-informacion-audio></app-informacion-audio>
<app-informacion-pc></app-informacion-pc>
<app-informacion-envio-correo></app-informacion-envio-correo>
