<section class="m-section">
    <div class="m-container bg-blue">
        <div class="m-login" [formGroup]="formLogin">
            <div class="m-card__login">
                <div class="m-card__title">
                    <span>INTRANET</span>
                    <h2>REGISTRO DE PROSPECTOS</h2>
                </div>
                <div class="m-card__content">
                    <div class="m-input">
                        <input type="text" formControlName="username" placeholder="Usuario" />
                        <control-messages [control]="username"></control-messages>
                    </div>
                    <div class="m-input">
                        <input type="text" formControlName="password" placeholder="Contraseña"/>
                        <control-messages [control]="password"></control-messages>
                    </div>
                </div>
                <div class="m-card__actions">
                    <button type="button" class="m-button" [disabled]="formLogin.invalid || service"
                        (click)="formLogin.invalid || service || login()"><span>INGRESAR</span><img src="../../../../../assets/images/iconos/icon-arrow-button.svg" alt="icono-button-prospectos"></button>
                </div>
                <div class="text-error">
                    <p> {{msj}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="m-footer__login">
        <p>&copy;2020 Agencia B12. Todos los derechos reservados.</p>
    </div>
</section>