<section class="m-section p-20">
    <div class="m-container min-width">
        <div class="m-title">
            <h2>INFORMACI&Oacute;N DE CONTACTO</h2>
        </div>
        <div class="m-content">
            <div class="m-grid--2" [formGroup]="infoContactoForm">
                <div class="m-input m-0">
                    <input type="input" placeholder="Tel&eacute;fono" formControlName="telefono" required />
                    <span *ngIf="telefono.errors && telefono.dirty">
                        <control-messages [control]="telefono"></control-messages>
                    </span>
                </div>
                <div class="m-input m-0">
                    <input type="input" placeholder="Correo electr&oacute;nico" formControlName="correo" required />
                    <span *ngIf="correo.errors && correo.dirty">
                        <control-messages [control]="correo"></control-messages>
                    </span>
                </div>
                <div class="m-select m-0">
                    <select formControlName="pais" required>
                        <option value="">Pa&iacute;s</option>
                        <option *ngFor="let p of paises;" [value]="p.idPais">{{p.nombrePais}}</option>
                    </select>
                    <span *ngIf="pais.errors && pais.dirty">
                        <control-messages [control]="pais"></control-messages>
                    </span>
                </div>
                <div class="m-select m-0">
                    <select formControlName="departamento" required>
                        <option value="">Departamento</option>
                        <option *ngFor="let d of departamentos;" [value]="d.idDepartamento">{{d.nombreDepartamento}}</option>
                    </select>
                    <span *ngIf="departamento.errors && departamento.dirty">
                        <control-messages [control]="departamento"></control-messages>
                    </span>
                </div>
                <div class="m-select m-0">
                    <select formControlName="provincia" required>
                        <option value="">Provincia</option>
                        <option *ngFor="let p of provincias;" [value]="p.idProvincia">{{p.nombreProvincia}}</option>
                    </select>
                    <span *ngIf="provincia.errors && provincia.dirty">
                        <control-messages [control]="provincia"></control-messages>
                    </span>
                </div>
                <div class="m-select m-0">
                    <select formControlName="distrito" required>
                        <option value="">Distrito</option>
                        <option *ngFor="let d of distritos;" [value]="d.idDistrito">{{d.nombreDistrito}}</option>
                    </select>
                    <span *ngIf="distrito.errors && distrito.dirty">
                        <control-messages [control]="distrito"></control-messages>
                    </span>
                </div>
                <div class="m-input m-0">
                    <input type="input" placeholder="Dirección" formControlName="direccion" required />
                    <span *ngIf="direccion.errors && direccion.dirty">
                        <control-messages [control]="direccion"></control-messages>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>