<section class="m-section p-20">
  <div class="m-container min-width">
      <div class="m-title">
          <h2>INFORMACI&Oacute;N DE CONTACTO</h2>
      </div>
      <div class="m-content">
          <div class="m-grid--2">
              <div class="m-input m-0">
                  <input type="input" placeholder="Tel&eacute;fono" />
              </div>
              <div class="m-input m-0">
                  <input type="input" placeholder="Correo electr&oacute;nico" />
              </div>
              <div class="m-select m-0">
                  <select>
                      <option>Pa&iacute;s</option>
                      <option>Pa&iacute;s1</option>
                      <option>Pa&iacute;s2</option>
                      <option>Pa&iacute;s3</option>
                  </select>
              </div>
              <div class="m-select m-0">
                  <select>
                      <option>Departamento</option>
                      <option>Departamento1</option>
                      <option>Departamento2</option>
                      <option>Departamento3</option>
                  </select>
              </div>
              <div class="m-select m-0">
                  <select>
                      <option>Provincia</option>
                      <option>Provincia1</option>
                      <option>Provincia2</option>
                      <option>Provincia3</option>
                  </select>
              </div>
              <div class="m-select m-0">
                  <select>
                      <option>Distrito</option>
                      <option>Distrito1</option>
                      <option>Distrito2</option>
                      <option>Distrito3</option>
                  </select>
              </div>
              <div class="m-input m-0">
                 <input type="input" placeholder="N&uacute;mero de documento" />
              </div>
          </div>
      </div>
  </div>
</section>
