<app-informacion-audio></app-informacion-audio>
<div class="m-container">
    <div class="m-actions text-right m-b-50">
        <button type="button" class="m-button" [disabled]="!registroFormService.formValidStep3"
            (click)=" registroFormService.formValidStep3 && redirectNextStep(4)"><span>PASO 4</span><img src="../../../../../assets/images/iconos/icon-arrow-button.svg" alt="icono-button-prospectos"></button>
    </div>
</div>
<div class="m-footer__login">
    <p>&copy;2020 Agencia B12. Todos los derechos reservados.</p>
</div>